<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.metamask.androidsdk" >

    <uses-sdk
        android:minSdkVersion="23"
        android:targetSdkVersion="33" />

    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <package android:name="io.metamask" />
        <package android:name="io.metamask.qa" />
    </queries>

    <application>
        <activity
            android:name="io.metamask.androidsdk.MainActivity"
            android:exported="true" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>